@media (max-width: 767px) {
    #module15 .carousel-item {
        text-align: center;
    }
}

@media (max-width: 374px) {
    #head5 #bottom {
        display: none;
    }
}

html,
body {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    font-family: Lato, sans-serif;
}

/*字体*/

h1 {
    z-index: 1;
    font-size: 2.8em;
    font-family: Playfair Display, serif;
    font-weight: 800;
}

h2 {
    font-family: Playfair Display, serif;
    font-size: 1.6em;
    font-weight: 600;
    color: #151515;
}

h4 {
    font-size: 1.47em;
    font-family: Playfair Display, serif;
    font-weight: 400;
    line-height: 1.42857;
    color: #151515;
    margin-bottom: 20px;
}

p {
    font-size: 1.4em;
    line-height: 1.5em;
    color: #151515;
    font-family: Lato, sans-serif;
}

span {
    color: #777777;
    line-height: 1.5em;
    font-size: 1.08em;
    font-family: Lato, sans-serif;
}

time {
    font-size: 0.857em!important;
    font-family: Lato, sans-serif!important;
    font-weight: 700!important;
    letter-spacing: .05em!important;
    text-transform: uppercase!important;
    color: #f5a637;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: Lato, sans-serif;
}

/*按钮*/

button {
    font-family: Lato, sans-serif;
    line-height: 1.25em;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 600;
}

/*导航栏*/

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: #fff;
    height: 80px;
    background-color: transparent;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease-in-out;
}

.change1 {
    z-index: 100000;
    background-color: rgba(255, 255, 255, 0.8);
}

.online,
.selected {
    color: #f5a637!important;
}

#nav1:hover,
#nav4:hover,
#nav5:hover,
#nav6:hover,
#nav7:hover,
#nav8:hover,
.dorp_item>a:hover,
.list:hover {
    color: #f5a637;
    text-decoration: none;
}

#nav5,
#navPhone5 {
    font-size: 1.875em;
    font-family: Playfair Display, serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: color .1s linear;
}

.list,
#nav1,
#nav4,
#nav6,
#nav7,
#nav8,
.listPhone,
#navPhone1,
#navPhone4,
#navPhone6,
#navPhone7,
#navPhone8 {
    font-family: Lato, sans-serif;
    font-size: 0.86em;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: color .1s linear;
}

.activePage {
    width: 100%;
    height: auto;
}

.hiddenPage {
    display: none;
}

/**************************************/

.navPhone {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: transparent;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease-in-out;
}

.change2 {
    background-color: #fff;
}

#allList {
    display: none;
}

#allList li {
    width: 100%;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
}

#allList li a {
    display: block;
    text-decoration: none;
}

/*下拉框*/

.dorp {
    position: relative;
    display: inline-block;
    width: 60px;
    cursor: pointer;
    background: url(../img/caret-down1.png)no-repeat right center;
    background-size: 10px;
    padding: 10px 0px;
    margin: 0px 20px;
}

.dorp:hover {
    background: url(../img/caret-down2.png)no-repeat right center;
    background-size: 10px;
}

.dorp_item {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    text-align: center;
    z-index: 99999;
    margin-top: 10px;
}

.dorp_item a {
    text-decoration: none;
    color: #151515;
    display: block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    margin: 0px;
    padding: 0px;
    font-family: Lato, sans-serif;
    font-size: 0.86em;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.dorp_item a:nth-child(1) {
    border-bottom: 1px solid #f0f0f0;
}

.dorp_item a:hover {
    text-decoration: none;
    color: #f5a637;
}

.dorp:hover .dorp_item {
    display: block;
}

.main-drop ul li:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
}

.main-drop ul li:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.main-drop ul:hover li:nth-child(2) {
    display: block;
}

/*下拉框*/

.dropPhone {
    position: relative;
    display: inline-block;
    width: 60px;
    cursor: pointer;
    background: url(../img/caret-down.png)no-repeat right center;
    background-size: 10px;
    padding: 10px 0px;
    margin: 0px 20px;
}

.drop_item_phone {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    text-align: center;
    z-index: 99999;
    margin-top: 10px;
}

.drop_item_phone a {
    text-decoration: none;
    color: #151515;
    display: block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    margin: 0px;
    padding: 0px;
    font-family: Lato, sans-serif;
    font-size: 0.86em;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.drop_item_phone a:nth-child(1) {
    border-bottom: 1px solid #f0f0f0;
}

.dropPhone:hover .drop_item_phone {
    display: block;
}

/*footer*/

footer {
    width: 100%;
    background-color: #151515;
    padding: 80px 0px;
}

/*head*/

#head1,
#head2,
#head3,
#head4,
#head5,
#head6,
#head7,
#head8 {
    width: 100%;
    height: 430px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

#head1::before,
#head2::before,
#head3::before,
#head4::before,
#head5::before,
#head6::before,
#head7::before,
#head8::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: .5;
    background-color: #000;
}

/********************************************************************************/

/*page1-about us*/

#head1 {
    background: url(../img/36.jpg) repeat-x center center;
}

/*///////////////////////////////////////////////////*/

#module1 {
    /*display: flex;
     flex-direction: row;
      justify-content: center;*/
    padding: 100px 0px;
    color: #777777;
    line-height: 1.5em;
    font-size: 1em;
    width: 100%;
}

#module1 #img1 {
    width: 280px;
    height: 420px;
    position: relative;
}

#module1 #img1:before {
    width: 280px;
    height: 420px;
    position: absolute;
    content: "";
    z-index: -1;
    top: 10%;
    left: 20%;
    border: 1px solid #f0f0f0;
}

/*////////////////////////////////////////////////*/

#module2 {
    background-color: #f0f0f0;
    width: 100%;
    padding: 100px 0px;
    text-align: center;
}

/*//////////////////////////////////////////////////////////////*/

#module3 {
    padding: 100px 0px;
    text-align: center;
}

#module3 .contactUs {
    width: 141px;
    height: 50px;
    color: #151515;
    border: 1px solid #f5a637;
    text-align: center;
    line-height: 50px;
    margin-top: 35px;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 600;
}

#module3 .contactUs:hover {
    color: #f5a637;
    cursor: pointer;
}

/********************************************************************************/

/*page2-menu:standard*/

#head2 {
    background: url(../img/25.jpg) no-repeat center center;
}

/*////////////////////////////////////////////*/

#module33 {
    width: 100%;
    text-align: center;
    padding: 100px 0px 60px;
}

/*/////////////////////////////////////////////*/

#module34 .Tab li {
    display: inline;
    list-style-type: none;
}

#module34 .Tab a,
a.activation {
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 0.857em;
    font-weight: 900;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #777;
    cursor: pointer;
}

#module34 .Tab a.activation {
    border-bottom: 3px solid #f5a637;
    color: #151515;
}

#module34 .aContent {
    /*  width: 70%;
    height: auto;
    margin: 0 auto;*/
    margin: 0px;
    padding: 0px;
}

#module34 .aContent #photo1 {
    animation: amplification1 .2s ease-out;
}

@keyframes amplification1 {
    0% {
        -webkit-transform: scale(0.5);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

#module34 .hContent {
    display: none;
}

/*////////////////////////////////////////////*/

#module35 {
    width: 100%;
    text-align: center;
    padding: 60px 0px 30px;
}

/********************************************************************************/

/*page3-menu:no images*/

#head3 {
    background: url(../img/25.jpg) no-repeat center center;
}

/*////////////////////////////////////////////*/

#module38 {
    width: 100%;
    text-align: center;
    padding: 100px 0px;
}

/*/////////////////////////////////////////////*/

#module39 .tab2 li {
    display: inline;
    list-style-type: none;
}

#module39 .tab2 a,
a.active2 {
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 0.875em;
    font-weight: 900;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #777;
    cursor: pointer;
}

#module39 .tab2 a.active2 {
    border-bottom: 3px solid #f5a637;
    color: #151515;
}

#module39 .activeContent2 {
    /*  width: 70%;
    height: auto;
    margin: 0 auto;*/
    margin: 0px;
    padding: 0px;
}

#module39 .activeContent2 #photo2 {
    animation: amplification2 .2s ease-out;
}

@keyframes amplification2 {
    0% {
        -webkit-transform: scale(0.5);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

#module39 .hiddenContent2 {
    display: none;
}

/*////////////////////////////////////////////*/

#module40 {
    width: 100%;
    text-align: center;
    padding: 60px 0px 30px;
}

/*********************************************************************************/

/*page4-reservation*/

#head4 {
    background: url(../img/32.jpg) no-repeat center center;
}

/*//////////////////////////////////////////*/

#module4 {
    text-align: center;
    width: 100%;
    margin-top: 80px;
}

#module4 input {
    height: 48px;
    outline: none;
    border: 1px solid #f0f0f0;
    padding-left: 15px;
    margin: 10px 0px;
}

#module4 select {
    height: 48px;
    outline: none;
    border: 1px solid #f0f0f0;
    padding-left: 15px;
    margin: 10px 0px;
}

#module4 button {
    width: 170px;
    height: 55px;
    border: 1px solid #f5a637;
    outline: none;
    background-color: transparent;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: .05em;
    margin-top: 20px;
    color: #151515;
}

#module4 select:focus {
    border: 1px solid #f5a637;
}

#module4 input:focus {
    border: 1px solid #f5a637;
}

#module4 button:hover {
    color: #f5a637;
    cursor: pointer;
}

/*/////////////////////////////////////*/

#module5 {
    width: 100%;
    margin: 50px 0px;
}

.table1 {
    border: none;
    height: 113px;
    padding: 0px;
    position: relative;
    text-align: center;
}

.tab1 {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.tab1-border2 {
    top: 0;
    right: -1px;
    border-right: 1px solid #f5a637;
    border-top: 1px solid #f5a637;
}

.tab1-border3 {
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #f5a637;
    border-left: 1px solid #f5a637;
}

/**********************************************************/

/*page5-Touche*/

#head5 {
    background: url(../img/1.jpg) no-repeat center center;
    height: 100vh;
}

#head5 #title {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#head5 #title h1,
#head5 #title p {
    z-index: 1;
}

#head5 #title button {
    z-index: 1;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: 1px solid #f5a637;
    color: white;
    background: transparent;
}

#head5 #title button:hover {
    color: #f5a637;
}

#head5 h1 {
    font-size: 5em;
    font-weight: 900;
}

/*//////////////////////////////////////////////////////*/

#module7 {
    margin: 50px 0px 100px;
}

#module7 #img2 {
    width: 280px;
    height: 420px;
    position: relative;
}

#module7 #img2::before {
    width: 280px;
    height: 420px;
    position: absolute;
    content: "";
    z-index: -1;
    top: 10%;
    left: 20%;
    border: 1px solid #f0f0f0;
}

#module7 #img2::after {
    width: 280px;
    height: 420px;
    position: absolute;
    content: "";
    z-index: -1;
    top: -10%;
    left: -30%;
    background-color: #f0f0f0;
}

/*/////////////////////////////////////////*/

#module8 {
    position: relative;
    background: url(../img/19.jpg)no-repeat 50%/cover;
    height: 100vh;
}

#module8::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(#fff, hsla(0, 0%, 100%, .1) 30%, transparent), linear-gradient(to bottom right, #fff 0, #fff 15%, transparent 30%, transparent);
}

/*////////////////////////////////////////////*/

#module9 {
    width: 100%;
    text-align: center;
    padding: 100px 0px;
}

/*/////////////////////////////////////////////*/

#module10 .tab li {
    display: inline;
    list-style-type: none;
}

#module10 .tab a,
a.active {
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 0.857em;
    font-weight: 900;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #777;
    cursor: pointer;
}

#module10 .tab a.active {
    border-bottom: 3px solid #f5a637;
    color: #151515;
}

#module10 .activeContent {
    /*   width: 70%;
    height: auto;
    margin: 0 auto;*/
    margin: 0px;
    padding: 0px;
}

#module10 .activeContent #photo {
    animation: amplification .2s ease-out;
}

@keyframes amplification {
    0% {
        -webkit-transform: scale(0.5);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

#module10 .hiddenContent {
    display: none;
}

/*////////////////////////////////////////////*/

#module11 {
    width: 100%;
    text-align: center;
    padding: 100px 0px 50px;
}

/*/////////////////////////////////*/

#module14 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

/*//////////////////////////////*/

#module15 {
    margin-bottom: 100px;
}

/*////////////////////////////////*/

#module16 {
    width: 100%;
    text-align: center;
    padding: 100px 0px;
}

/*////////////////////////////////*/

#module17 {
    width: 100%;
    height: auto;
}

.panel-header:hover {
    cursor: pointer;
}

.panel-header {
    border-bottom: 1px solid #f0f0f0;
    padding: 40px 20px;
}

.panel-header h4 {
    font-size: 1.3em;
    color: #343a40;
    line-height: 1.4em;
    font-weight: 600;
}

.panel-header h2 {
    font-size: 2.5em;
    color: #151515;
    font-weight: 600;
    margin: 0px;
}

.panel-header span {
    font-family: Lato, sans-serif;
    font-size: 0.875em;
    font-weight: 500;
}

.panel-header button {
    width: 170px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #f5a637;
    outline: none;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 600;
}

.panel-header button:hover {
    color: #f5a637;
    cursor: pointer;
}

.panel-body {
    height: 614px;
    position: relative;
    background-size: cover;
}

.panel-body::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(45deg, #000, transparent);
    pointer-events: auto;
}

#details button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 1px solid #f5a637;
    width: 170px;
    height: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 600;
}

#details button:hover {
    color: #f5a637;
}

#details h2 {
    font-family: Playfair Display, serif;
    font-weight: 600;
    line-height: 1.42857;
    font-size: 1.6em;
    color: white;
    letter-spacing: .01em;
    margin-bottom: 10px;
}

#details p {
    font-family: Lato, sans-serif;
    font-weight: 500;
    font-size: 0.9375em;
    color: hsla(0, 0%, 100%, .7);
    margin-bottom: 30px;
}

#details span {
    font-size: 0.75em;
    color: #f5a637;
    font-family: Lato, sans-serif;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.panel-body:not(:nth-child(2)) {
    display: none;
}

/*////////////////////////////////*/

#module26 {
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 100px 20px;
}

#subscribe {
    width: 130px;
    height: 50px;
    outline: none;
    border: 1px solid #f5a637;
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 600;
}

#subscribe:hover {
    color: #f5a637;
}

#emailAddress {
    height: 50px;
    outline: none;
    border: none;
    padding-left: 30px;
    margin: 0px 20px 20px;
}

#emailAddress:focus {
    border: 1px solid #f5a637;
}

/*////////////////////////////////*/

#module19 {
    width: 100%;
    text-align: center;
    padding: 75px 0px 45px;
}

/*////////////////////////////////*/

.imgBox {
    display: block;
    position: relative;
    height: 28%;
    margin-bottom: 7%;
}

.imgBox1 {
    display: block;
    position: relative;
    height: 66%;
    margin-bottom: 7%;
}

.imgBox img,
.imgBox1 img {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.add {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.imgBox:hover .add,
.imgBox1:hover .add {
    opacity: 1;
}

/**********************************************************/

/*page6-new&events*/

#head6 {
    background: url(../img/33.jpg) no-repeat center center;
}

/*/////////////////////////////////////*/

#module21 {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

/*//////////////////////////////////////*/

#readMore {
    width: 147px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #f5a637;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: .05em;
    text-align: center;
    margin-top: 40px;
}

#readMore:hover {
    cursor: pointer;
    color: #f5a637;
}

/*//////////////////////////////////////*/

#module24 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

/*////////////////////////////////*/

#module25 {
    width: 100%;
    height: auto;
}

/**********************************************************/

/*page7-gallery*/

#head7 {
    background: url(../img/23.jpg) no-repeat center center;
}

/*///////////////////////////////*/

#module27 {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

/*////////////////////////////////*/

#module28 {
    margin-bottom: 100px;
}

/*////////////////////////////////*/

#module29 {
    width: 100%;
    text-align: center;
    padding: 75px 0px 45px;
}

/*////////////////////////////////*/

#module30 {
    margin-bottom: 100px;
    width: 100%;
}

/**********************************************************/

/*page8-contact*/

#head8 {
    background: url(../img/37.jpg) no-repeat center center;
}

/*///////////////////////////////////////////////*/

#module31 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

/*///////////////////////////////////////////////*/

#module32 {
    position: relative;
    margin-bottom: 100px;
}

#module32::before {
    position: absolute;
    z-index: -1;
    right: 75%;
    bottom: 25%;
    width: 288px;
    height: 390px;
    content: "";
    opacity: .05;
    background: url(../img/icon_dot.svg) repeat;
}

#module32 input {
    height: 50.75px;
    border: 1px solid #f0f0f0;
    margin-bottom: 20px;
    outline: none;
    padding-left: 30px;
}

#module32 textarea {
    height: 194px;
    border: 1px solid #f0f0f0;
    outline: none;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
}

#module32 textarea:focus,
#module32 input:focus {
    border-color: #f5a637;
}

#module32 #lft button {
    width: 157px;
    height: 50px;
    background-color: transparent;
    outline: none;
    border: 1px solid #f5a637;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.875em;
    font-weight: 600;
}

#module32 #lft button:hover {
    color: #f5a637;
}

#module32 #rgt hr {
    background-color: #f0f0f0;
    height: 1px;
    border: none;
}

#module32 #rgt i {
    color: white;
    font-size: 18px;
}

#module32 #rgt .icon {
    background-color: #f5a637;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    text-decoration: none;
    margin-right: 5px;
    text-align: center;
}

#module32 #rgt h4 {
    font-size: 0.857em;
    font-family: Lato, sans-serif;
    font-weight: 900;
    letter-spacing: .05em;
    text-transform: uppercase;
}